/* Colours */
$ink: #0055FF;
$primary: #FFE6F2;
$secondary: #F9C9F8;

/* Typography */
$tera: ;
$giga: ;
$mega: ;
$alpha: 66px;
$beta: 26px;
$gamma: 18px;
$delta: ;
$epsilon: ;
$zeta: ;

/* Typography */
$light: 300;
$regular: 400;
$body-size: $epsilon;
$body-weight: $light;
$body-font: 'Rubik', sans-serif;

/* Layout */
$large: 1000px;
$small: 500px;
$gutter: 20px;
